@model BookRental.ViewModel.UserViewModel
@{
	ViewBag.Title = "Delete";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div>

		<h3>Are You Sure you want to Delete this genre</h3>
		<hr />
		<div class="form-border">
			<fieldset disabled>
				<div class="row" style="padding-bottom:5px; padding-top: 5px;">
					<div class="col-md-2">
						@Html.LabelFor(m => m.Firstname, htmlAttributes: new { @class = "control-label" })
					</div>
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
					</div>
				</div>
				<div class="row" style="padding-bottom:5px; padding-top: 5px;">
					<div class="col-md-2">
						@Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label" })
					</div>
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
					</div>
				</div>
				<div class="row" style="padding-bottom:5px; padding-top: 5px;">
					<div class="col-md-2">
						@Html.LabelFor(m => m.Birthdate, htmlAttributes: new { @class = "control-label" })
					</div>
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Birthdate,"{0:MM dd yyyy}", new { @class = "form-control" })
					</div>
				</div>
				<div class="row" style="padding-bottom:5px; padding-top: 5px;">
					<div class="col-md-2">
						@Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
					</div>
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					</div>
				</div>
				<div class="row" style="padding-bottom:5px; padding-top: 5px;">
					<div class="col-md-2">
						@Html.LabelFor(m => m.MembershipTypeId, htmlAttributes: new { @class = "control-label" })
					</div>
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.MembershipTypeId, new { @class = "form-control" })
					</div>
				</div>
			</fieldset>

		</div>
		<br />
	</div>
	<div>
		@Html.Partial("_BackToListButtonPartial")
		<input type="submit" value="Delete" class="btn btn-sm btn-danger" />
	</div>
}
