<!DOCTYPE html>
<html style="position:relative;min-height:100%;">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>	

<body>

	@Html.Partial("_PartialNavBar")

	<div class="container body-content">
		@RenderBody()
		<hr />
	</div>
	@Html.Partial("_Footer")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bookRentalJs")
	@RenderSection("scripts", required: false)
</body>
</html>
